/*icon*/
@font-face {
    font-family: 'iconfont';  /* project id 707731 */
    src: url('//at.alicdn.com/t/font_707731_69cohl0xvu4.eot');
    src: url('//at.alicdn.com/t/font_707731_69cohl0xvu4.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_707731_69cohl0xvu4.woff') format('woff'),
    url('//at.alicdn.com/t/font_707731_69cohl0xvu4.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_707731_69cohl0xvu4.svg#iconfont') format('svg');
}

/*全局样式*/
/*字体*/
.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-28 {
    font-size: 28px;
}

/*颜色*/
.color-header {
    color: #7D09FF;
}

.color-cancel {
    color: #FF2C09;
}

.color-white {
    color: #fff;
}

.daly-bgc {
    background-color: rgba(0, 0, 0, .2);
}

.noscroll {
    overflow: hidden !important;
}